# Laravel 10 .gitignore
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/.phpunit.cache
.phpunit.result.cache
.env
.env.*
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
