* {
    font-family: "Poppins";
  }
   
  body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
  }
  .back-button {
    position: absolute;
    top: 30px; 
    left: 30px; 
    padding: 10px; 
    background-color: #01a8c9;
    color: white;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 1.5em; 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    background-color: #028da8; 
}

  .screen-1 {
    width: 80%;
    max-width: 700px;
    background: #f1f7fe;
    padding: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
  }
  .screen-1 .logo {
    margin-bottom: 1em;
    text-align: center;
  }
  .screen-1 .logo h2 {
    color: #01a8c9;
  }
  .screen-1 .logo p {
    color: #f8b027
  }
  .screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
  }
  .screen-1 .email input {
    outline: none;
    border: none;
  }
  .screen-1 .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password {
    margin-top: 10px;
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
  }
  .screen-1 .password input {
    outline: none;
    border: none;
  }
  .screen-1 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password .show-hide {
    margin-right: -5em;
  }
  .screen-1 .login {
    margin-top: 10;
    padding: 1em;
    background-color: #01a8c9;
    transition: background-color 0.3s ease;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }
  .screen-1 input {
    width: 92%;
    max-width: 700px;
    outline: none;
    border: none;
    padding: 0.8em;
    border-radius: 10px;
    background: #f7f9fc;
    font-size: 0.9em;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.screen-1 input::placeholder {
    color: #888;
    font-size: 0.9em;
}

.screen-1 input:focus {
    background: #eef2f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.screen-1 ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}
  .screen-1 .login:hover {
    background-color: #028da8;
    
  }
  .screen-1 .footer {
    display: flex;
    font-size: 0.9em;
    color: #5e5e5e;
    gap: 21em;
    padding-bottom: 7em;
  }
  .screen-1 .footer a {
    color: #5e5e5e;
    cursor: pointer;
    text-decoration: none;
  }
  .screen-1 .footer span {
    cursor: pointer;
  }
  .screen-1 .footer span:hover {
    color: black;
  }
  
  p{
    text-align: center;
  }
  button {
    margin-top: 5px;
    width: 700px;
    cursor: pointer;
  }